:root {
    --dark-blue: #0000AD;
    --light-blue: #0093E9;
    --lightest-blue: #00A5DD;
    --light-grey: #5C5C5C;
    --white: #FFFFFF;
    --black: #000000; 
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: black;
    width: 100%; 
}

.button {
    position: absolute;
    background: #0000AD;
    display: flex;
    border: 1px solid #0000AD;
    box-shadow: none;
    border-radius: 24.5px;
    z-index: 3;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.button-text {
    position: absolute;
    margin: 0 auto;
    font-weight: 700;
    font-size: 22px;
    line-height: 131.19%;   /* or 29px */
    color:#FFFFFF;
}

.highlight-blue {
    color: #0000AD;
}

.h2-headings {
    font-weight: 700;
    font-size: 26px;
    line-height: 131.19%;    /* or 34px */
    color: #000000;
 }

 .h3-headings {
    font-weight: 700;
    font-size: 24px;
    line-height: 131.19%;    /* or 31px */
    color: #000000;
 }

/*navigation bar starts*/
nav {
    width: 100%;
    height: 60px;
}

/*company name and logo on left side of nav bar*/
#company-name {
    font-size: 18px;
    font-weight: 600;
    float: left;
    width: 81px;
    height: 23px;
    line-height: 23px;
    margin-top: 34px;
}

#logo {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

/* common for all in nav */
nav ul /* menu, lang, and desktop-menu */{
    float: right;
    margin-right: 50px;
}

nav ul li /* dropdowns for menu and lang. the anchors for desktop-menu */{
    display: inline-block;   
    margin: 0 5px; 
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#menu .dropdown-content a {
    text-align: right;
}

.dropdown-content a:hover {
    color: #00A5DD;
}
  
.dropdown-content {
    display: none;
    position: relative;
    background-color: white;
    min-width: 160px;
    z-index: 1;
}

#menu .dropdown-content {
    position: absolute;
    right: -10px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
}

/* desktop menu */
#desktop-menu {
    display: none;
    top: 75px;
}

#desktop-menu > li {
    line-height: 60px;
}

#desktop-menu > li > a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    margin: 0 5px;
}

#desktop-menu a:hover {
    color: #00A5DD;
}

/* languages drop down menu */
#lang {
    list-style-type: none;
    background-color: transparent;
    color: black;
    width: 19px;
    height: 18px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 15px;
    /*line-height: 131.19%;    /* or 18px */
    color: #000000;
}
  
#lang li {
    float: left;
    margin-left: 0;
}
  
.lang-dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* menu drop down */
#menu {
    list-style-type: none;
    background-color: transparent;
    color: black;
    width: 16px;
    height: 15px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
    /*line-height: 131.19%;    /* or 18px */
    color: #000000;
}

.menu-dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu-icon {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 3px 15px;
    text-decoration: none;
}
/*navigation bar ends*/

/*main heading starts*/
#home {
    width: 100vw;
    position: relative;
    display: block;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#home > #welcome-frame {
    height: auto;
    width: 85%;
    left: 29px;
    top: 95px;
}
/*main heading ends*/

/* see our projects related button and text starts */
#project-button-area {
    width: 100vw;
    position: relative;
    display: block;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#project-button-area > h2 {
    /*position: absolute;*/
    width: 183px;
    height: 69px;
    left: 40px;
    top: 520px;
}

#project-button {
    position: relative;
    left: -50px;
    top: 55px;
    width: 217px;
    height: 49px;
}

#project-button-area > #project-button >  p {
    width: 141px;
    height: 34px;
    left: 40px;
    top: 9px;
}
/* see our projects related button and text ends */

/* about us section starts */
#about-us {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 55px;
    margin-bottom: 55px;
}

#about-us h3 {
    position: relative;
    width: 349px;
    height: 101px;
    padding-top: 20px;
}

.about-us-txt {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 131.19%;   /* or 26px */
    color: #5C5C5C;
    /*text-align: justify;*/
}

#about-us-txt1 {
    width: 98vw;
    height: 137px;
}

#about-us-txt2 {
    width: 98vw;
    height: 130px;
    padding-top: 75px;
}
/* about us section ends */

/* services section starts */
#services {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 55px;
    margin-bottom: 55px;   /**/
    margin-right: 0;
    margin-left: 0;
}

#services-description {
    width: 285px;
    height: 52px;
    margin-top: 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 131.19%;  /* or 26px */
    color: #000000;
}

#khan-shatyr {
    margin-top: -160px;
    max-width: inherit;
    display: inline-block;
    text-align: right;
    overflow-x: hidden;
}

#khan-shatyr > svg {
    max-width: inherit;
    position: relative;

}

#circle {
    position: absolute;
    background-color: #FF0000;
    width: 15px;
    height: 15px;
    margin-left: 245px;
    margin-top: 220px;   /* 200 l, -185 top*/
    border-radius: 50%;
    z-index: 2;
}

#location {
    position: absolute;
    width: 114px;
    height: 29px;
    margin-left: 250px;
    margin-top: 235px;
    font-weight: bold;
    font-size: 22px;
    line-height: 131.19%;  /* identical to box height, or 29px */
    color: #000000;
}

#service-button {
    width: 140px;
    height: 49px;
    left: 26px;
    margin-top: 5px;
}

#services > #service-button > p {
    width: 158px;
    height: 49px;
    left: 25px;
    top: 9px;
}
/* services section ends */

/* ending section starts */
#ending > h3 {
    position: absolute;
    width: 250px;
    height: 93px;
    left: 0px;
    top: 1606px;
}

#ending > p {
    position: absolute;
    width: 369px;
    height: 104px;
    left: 0px;
    top: 1731px;
    font-weight: 500;
    font-size: 20px;
    line-height: 131.19%;    /* or 26px */
    color: #5C5C5C;
}
/* ending section ends */

/* contact section starts */
#contact > h2 {
    position: absolute;
    width: 297px;
    height: 68px;
    left: 30px;
    top: 1877px;
}

#contact-button {
    width: 158px;
    height: 49px;
    left: 25px;
    top: 1992px;
}

#contact > #contact-button > p {
    width: 158px;
    height: 49px;
    left: 25px;
    top: 9px;
}
/* contact section ends */

/* footer starts */
#logo-name {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 26px;
    top: 2105px;
    padding-bottom: 15px;
    color: #5C5C5C;
}

#copyright {
    position: absolute;
    width: 129px;
    height: 18px;
    left: 71px;
    top: 2114px;
    padding-bottom: 15px;
}
/* footer ends */


/* pc version: big enough for two columns */
@media only screen and (min-width: 766px) {
    #desktop-menu {
        display: block;
        margin-right: 10px;
    }

    #menu {
        display: none;
    }

    #lang {
        margin-right: 50px;
    }

    nav {
        padding-right: 0px;
    }

    /*main heading starts*/
    #home > #welcome-frame {
        position: absolute;
        width: 409px;
        height: 425.48px;
        left: 29px;
        top: 95px;
    }
    /*main heading ends*/

    /* project button */
    #project-button-area > h2 {
        position: absolute;
        width: 183px;
        height: 69px;
        left: 40px;
        top: 520px;
    }
    
    #project-button {
        position: absolute;
        left: 40px;   /* -40px for ipad 768px*/   /* ipad pro pr -170px 1024px not abs */
        top: 640px;     /* 540px when not abs */
        width: 217px;
        height: 49px;
    }
    
    #project-button-area > #project-button >  p {
        width: 141px;
        height: 34px;
        left: 40px;
        top: 9px;
    } 
    /* project button ends */

    /* about us section starts */
    #about-us h3 {
        position: absolute;
        width: 349px;
        height: 101px;
        left: 40px;
        top: 730px;
        font-weight: 700;
        font-size: 24px;
        line-height: 131.19%;    /* or 31px */
    }

    .about-us-txt {
        position: absolute;
        font-weight: 500;
        font-size: 20px;
        line-height: 131.19%;   /* or 26px */
        color: #5C5C5C;
    }

    #about-us-txt1 {
        width: 376px;
        height: 137px;
        left: 40px;
        top: 850px;
    }

    #about-us-txt2 {
        width: 358px;
        height: 130px;
        left: 40px;
        top: 1000px;
    }
    /* about us section ends */

    /* services section starts */
    #services-description {
        position: absolute;
        width: 285px;
        height: 52px;
        left: 28px;
        top: 1302px;
        font-weight: 500;
        font-size: 20px;
        line-height: 131.19%;  /* or 26px */
        color: #000000;
    }
    
    #services > img {
        position: absolute;
        width: 655px;
        height: 384.2px;
        left: -50px;
        top: 1136px;
    }
    
    #circle {
        background-color: #FF0000;
        position: absolute;
        width: 15px;
        height: 15px;
        left: 304px;
        top: 1373px;
        border-radius: 50%;
    }
    
    #location {
        position: absolute;
        width: 114px;
        height: 29px;
        left: 333px;
        top: 1360px;
        font-weight: bold;
        font-size: 22px;
        line-height: 131.19%;  /* identical to box height, or 29px */
        color: #000000;
    }
    
    #service-button {
        width: 140px;
        height: 49px;
        left: 25px;
        top: 1390px;
    }
    
    #services > #service-button > p {
        width: 158px;
        height: 49px;
        left: 25px;
        top: 9px;
    }
    /* services section ends */

    /* ending section starts */
    #ending > h3 {
        position: absolute;
        width: 250px;
        height: 93px;
        left: 30px;
        top: 1606px;
    }

    #ending > p {
        position: absolute;
        width: 369px;
        height: 104px;
        left: 30px;
        top: 1731px;
        font-weight: 500;
        font-size: 20px;
        line-height: 131.19%;    /* or 26px */
        color: #5C5C5C;
    }
    /* ending section ends */

    /* contact section starts */
    #contact > h2 {
        position: absolute;
        width: 297px;
        height: 68px;
        left: 30px;
        top: 1877px;
    }

    #contact-button {
        width: 158px;
        height: 49px;
        left: 25px;
        top: 1992px;
    }

    #contact > #contact-button > p {
        width: 158px;
        height: 49px;
        left: 25px;
        top: 9px;
    }
    /* contact section ends */

    /* footer starts */
    #logo-name {
        position: absolute;
        width: 37px;
        height: 37px;
        left: 26px;
        top: 2105px;
        padding-bottom: 15px;
        color: #5C5C5C;
    }

    #copyright {
        position: absolute;
        width: 129px;
        height: 18px;
        left: 71px;
        top: 2114px;
        padding-bottom: 15px;
    }
    /* footer ends */
}

/* changing text size on mobile view */
@media only screen and (max-width: 414px) and (min-width: 321px){
    #logo {
        width: 70px;
        height: 70px;
        margin-top: 0px;
    }

    #company-name {
        font-size: 22px;
        margin-top: 25.5px;
    }

    #lang {
        font-size: 22px;
        margin-right: 30px;
        margin-top: 9px;
    }

    #menu {
        font-size: 22px;
        margin-top: 10.5px;
    }

    .h2-headings {
        font-size: 32px;
    }
    
    .about-us-txt, #services-description {
        font-size: 25px;
    }

    .h3-headings {
        font-weight: 700;
        font-size: 28px;
        line-height: 131.19%;    /* or 31px */
        color: #000000;
     }
}

/* ISSUES */
/* 320 is iphone 5se. 
needs some other design or when 
language is chnged to EN then we can do it.
becomes two lines otherwise.*/

/* the language and menu become column instead of row after this point*/
@media only screen and (max-width: 312px) {
    body {
        background-color: #000000;
    }
}


